.game-cell{
 width: 40px;
 height: 40px;
 display: table-cell;
 background-color: lightblue;
}
.game-cell{
 width: 40px;
 height: 40px;
 display: table-cell;
 background-color: lightblue;
}
.active-cell {
  width: 40px;
  height: 40px;
  display: table-cell;
  background-color: blue;}

.game-row{
display: table-row;
}

.control-btn{
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  display: table-cell;
  background-color: lightgreen;
}
.test{
display: table;
margin:  auto;
}
